<extend name="Public:base" />
<block name="main">
<script src="/public/admin/js/jquery-1.11.1.min.js"></script>
<div class="main" style="padding-top:8px; min-height:450px;">
    <div class="weee_tit">订单提交<span>* 请认真核对以下信息</span></div>
	<div class="paydetail">
	<table>
	<tr>
	<td width="219"><strong>商品名称</strong></td>
	<td width="82"><strong>展馆类型</strong></td>
	<td width="78"><strong>展馆</strong></td>
	<td width="83"><strong>展位号</strong></td>
	<td width="95"><strong>面积</strong></td>
	<!--<td width="85"><strong>总额（元）</strong></td>-->
	<td width="98"><strong>预付款（元）</strong></td>

	</tr>
	<tr>
	<td width="219">2016中国国际电梯展览会展位</td>
	<td width="82"><{:get_chart_type($booth_info['hall_type'])}></td>
	<td width="78"><{$hall}></td>
	<td width="83"><{$booth_info['booth_num']}></td>
	<td width="95"><{$booth_info['area']}></td>
	<!--<td width="85"><span id="price_1"><{$booth_info['payment']}></span></td>-->
	<td width="98"><span id="price_2"><{$booth_info['price']}></span></td>
	
	</tr>
	</table>
	<style>
	table{ width:1100px; margin:0 auto;border-collapse:collapse;}
	table tr{ height:36px;}
	table tr td{ font-size:16px; color: #000000; border-top:1px #666666 solid; padding-left:5px;}
	</style>
	<div class="alipay">
		<span>支付方式：</span>
			<label><input type="radio" name="type" value="1" style="margin:6px 10px 0px 11px;" checked onclick="$('#blank').hide();"></label><img src="__IMAGES__/pay_ico.jpg" />
			<label><input type="radio" name="type" value="2" style="margin:6px 10px 0px 11px;" onclick="if($(this).is(':checked')) $('#blank').show();"> 银行汇款</label>
			<label id="blank" style="display:none;">	
				收  款  方：廊坊会议展览有限公司（请将汇款凭证截图或者扫描进行上传凭证）
				<br/><br/>
				开户银行：中国银行廊坊开发区支行
				<br/><br/>
				收款帐号：<font color="red">100148583187</font>
			</label>
	</div>
	  <div class="clear"></div>
	  <div class="alipay"><span>备注：</span> 
	  	<textarea onpaste="return false" placeholder=""  cols="43" rows="3" name="remark" ></textarea>
	  </div>
	  <div class="clear"></div>
	  <input type="hidden" name="aid" value="<{$aid}>" />
	  <div class="pay_sl">实付款：<font><span id="price_3"><{$booth_info['price']}></span></font> 元<p><input name="login_step1" id="order_trade" type="submit" value="确认支付" class="reg_next"></p></div>
	</div>
</div>
<div id="info" style="display:none;"></div>
</block>
<block name="seajs">
seajs.use('order');
</block>