<extend name="Public:base" />
<block name="main">
<style type="text/css">
  .xing{
    width: auto;
  }
</style>
<div class="main" style="padding-top:8px; min-height:450px;">
  <div class="user_center">
	<include file="Public/left" />
	<form method="post" action="" id="form" class="regform">
    <div class="user_right">
      <div class="user_right_tit">基本信息>密码修改</div>
      <div class="user_right_con" style="padding-top:40px; height: 302px">
     
    <div class="item" style="padding-left:90px;">
      <div class="label">旧密码：</div>
      <div class="input-box">
        <input onpaste="return false" type="password" placeholder="" id="password"  class="ipt" >
      </div>
      <div class="xing">*</div>
      <div class="error_msg"></div>
      <div class="clear"></div>
    </div>
     <div class="item" style="padding-left:90px;">
      <div class="label">新密码：</div>
      <div class="input-box">
        <input onpaste="return false" type="password" placeholder="" id="newpassword" name="password" class="ipt" datatype="*" nullmsg="新密码不能为空！">
      </div>
      <div class="xing">*</div>
      <div class="error_msg"></div>
      <div class="clear"></div>
    </div>
   
      <div class="item" style="padding-left:90px;">
      <div class="label">确认密码：</div>
      <div class="input-box">
        <input onpaste="return false" type="password" datatype="*" recheck="password" placeholder="" id="repassword"  class="ipt" nullmsg="请再输入一次密码！" errormsg="您两次输入的账号密码不一致！">
      </div>
      <div class="xing">*</div>
      <div class="error_msg"></div>
      <div class="clear"></div>
    </div>
		 <div class="pass_btn">
	      <input name="login_step1" id="login_button" type="submit" value="修改密码" class="sub_btn">
	    </div>
	</form>
        <br />
        <br />
      </div>
    </div>
    <!--right end-->
    <div class="clear"></div>
  </div>
</div>
</block>
<block name="seajs">
seajs.use('repassword');
</block>