<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><{:get_config('SITE_NAME')}></title>
	<link type="text/css" href="__CSS__/zw_css.css"  rel="stylesheet" />
	<block name="css"></block>
	<script src="__PUBLIC__/admin/js/jquery-1.11.1.min.js"></script>
</head>
<body>
<div class="top_bg">
	<div class="top">
		<div class="top_left">欢迎访问中国国际电梯展览会展位在线订购平台！</div>
		<div class="top_right">
			<a href="/user/index.html">会员中心</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">帮助中心</a>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="clear"></div>
<div class="head">
	<div class="logo">
		<img src="__IMAGES__/logo.jpg" />
	</div>
	<div class="head_nav">
		<a href="<{:U('/')}>">网站首页</a>
		<a href="<{:U('/user/booth/index')}>">展位预订</a>
		<{:check_user_login()}>
		
	</div>
	<div class="clear"></div>
</div>
<block name="main"></block>
<block name="js"></block>
	<div class="foot">
		<div class="foot_center">
			<p>联系人：马振涛    地址：河北省廊坊市开发区祥云道98号   邮编：065001</p>
			<p>Copyright 2007-2016 All Right Reserved    版权所有·中国国际电梯展览会组委会</p>
		</div>
	</div>
</body>
</html>
