<extend name="Public:base" />
<block name="main">
<div class="main" style="padding:20px 0 50px 0;">
  <div class="reg_pro">
    <div class="reg_user"><img src="__IMAGES__/01.png" /><span>填写企业基本信息</span></div>
    <div class="reg_ge"><img src="__IMAGES__/reg_pro2.jpg" /></div>
    <div class="reg_user"><img src="__IMAGES__/02.png" /><span>设置账户信息</span></div>
    <div class="reg_ge"><img src="__IMAGES__/reg_pro3.jpg" /></div>
    <div class="reg_company"><img src="__IMAGES__/03.png" /><span>注册完成</span></div>
    <div class="clear"></div>
  </div>
  <div class="reg_head">注册完成</div>
    <div class="reg_succ">
	<h1>提交组委会审核中......</h1>
	<b>工作人员将在1~2个工作日内审核您的账号信息</b><br />
	<label>审核通过后我们将以邮件的方式通知您，请注意查收！</label>
	</div>
</div>
</block>