<div class="side_left fl ">
    <ul>
      <a href="<{:U('/user/help/novice')}>"><li class="novice_a"><img  src="__HOME__/images/grzx1.png">新手指导</li></a>
<!--       <a href="<{:U('/user/help/manual')}>"><li class="manual"><img  src="__HOME__/images/grzx2.png">操作手册</li></a> -->
      <a href="<{:U('/user/help/news')}>"><li class="news_a"><img  src="__HOME__/images/grzx2.png">最新公告</li></a>
      <a href="<{:U('/user/help/process')}>"><li class="process"><img  src="__HOME__/images/grzx3.png">预订流程</li></a>
      <a href="<{:U('/user/help/account')}>"><li class="account_a"><img  src="__HOME__/images/grzx4.png">账号密码</li></a>
      <a href="<{:U('/user/help/download')}>"><li class="download_a"><img  src="__HOME__/images/xz.jpg">资料下载</li></a>
      <a href="<{:U('/user/help/contact')}>"><li class="contact_a"><img  src="__HOME__/images/grzx7.png">联系我们</li></a>
    </ul>
  </div>
  <style type="text/css">
    .side_left ul li {color: #78828e}
  </style>