<div class="side_left fl ">
    <ul>
      <a href="<{:U('/user/account/company')}>"><li class="company_a"><img  src="__HOME__/images/grzx1.png">企业信息</li></a>
      <a href="<{:U('/user/account/password')}>"><li class="password"><img  src="__HOME__/images/grzx2.png">密码修改</li></a>
      <a href="<{:U('/user/booth/index')}>"><li class="exhi"><img  src="__HOME__/images/grzx3.png">展位预订</li></a>
      <a href="<{:U('/user/adver/index')}>"><li class="ad_a"><img  src="__HOME__/images/grzx4.png">广告预订</li></a>
      <a href="<{:U('/user/apply/receipt')}>"><li class="order"><img  src="__HOME__/images/grzx4.png">订单回执</li></a>
      <a href="<{:U('/user/apply/index')}>"><li class="con"><img  src="__HOME__/images/grzx7.png">申请合同</li></a>
      <a href="<{:U('/user/login/loginout')}>"><li class="exit"><img  src="__HOME__/images/grzx6.png">退出登录</li></a>
    </ul>
  </div>
  <style type="text/css">
    .side_left ul li {color: #78828e}
  </style>