<extend name="Public:base" />
<block name="main">
<div class="main" style="padding-top:2px;">
  <div class="weee_con" style=" position:relative;padding: 0; background:url(__PUBLIC__/images/select_bg.jpg) no-repeat;min-height:660px;  background-size:100% 100%; ">
    <!--展馆选择-->
      <!--<div class="shiyitu" style="float: left;width: 630px;z-index: 99999;position: relative;" onclick="$('#shiyitu').toggle('slow');">
        <input type="submit" value="查看展馆示意图" style="
            float: left;
            margin-top: 40px;
            width: 120px;
            height: 30px;
            background-color: #359704;
            border: solid 1px #037d00;
            border-radius: 6px;
            color:white;
            font-weight: bold;
        ">
        <img src="__PUBLIC__/images/52shiyi.png" style="float: left;margin-top: 12px;display:none;" id="shiyitu">
      </div>-->
	  <style>

	  </style>
	  <volist name="area" id="v">
	  	<div class="a<{$v}>"><a href="/user/booth/select/id/<{$hid}>/area/<{$v}>.html"></a></div>
	  </volist>	
    </div>
    <!--展馆选结束择-->
    <div class="clear"></div>
  </div>
</div>


</block>