<extend name="Public:base" />
<block name="css">
	<link rel="stylesheet" href="__PUBLIC__/css/ui-dialog.css">
</block>
<block name="main">
<script src="/public/admin/js/jquery-1.11.1.min.js"></script>
<div class="main" style="padding-top:8px; min-height:450px;">
    <div class="weee_tit">订单提交<span>* 请认真核对以下信息</span></div>
	
	<div class="paydetail" style="position:relative">
				<!-- 协议条款 -->
<div id="dialog" style="position: absolute; display: block;left: 120px;top: -55px;  z-index: 90000;">
  <h3 class="head" style="display: block;"> <span class="agrees">2018中国国际电梯展览会展位网上预订平台参展协议</span> <a target="_top" href="javascript:(0)" onclick="history.go(-1)" class="ks-overlay-close" role="button">
            <span class="iconfont ks-dialog-close-x ks-overlay-close-x">X</span>
        </a></h3>
  <div class="protocol_content" style="display: block;">
    <p>本协议是用户（以下简称“您”）与2018中国国际电梯展览会展位网上预订平台（网址：包括但不限于www.elewatorchina.com等，简称“本站”）所有者之间就2018中国国际电梯展览会展位网上预订平台服务等相关事宜所订立的契约，请您仔细阅读本注册协议，您点击"同意并继续"按钮后，即视为您接受并同意遵守本协议的约定。
</p>
<h5>第1条 参展流程</h5>
<p><strong>（1）用户注册，成为会员</strong></p>
<p>使用本站进行展位预订前，请先注册本站会员。
您应自行诚信向本站提供注册资料，您保证提供的注册资料真实、准确、完整、合法有效，您的注册资料如有变动的，应及时更新其注册资料。如果您提供的注册资料不合法、不真实、不准确、 不详尽的，您需承担因此引起的相应责任及后果，并且本站保留单方终止您使用本站各项服务的权利，如造成重大损失的我们将追究法律责任。
</p><p><strong>（2）查看展位信息</strong></p>
<p>您注册成功后，本站将根据您的注册信息为您安排归纳企业类型，您可查看符合您参展企业类型的展馆信息，并进行展位选择、预订。
</p><p><strong>（3）选购展位</strong></p>
<p>您可根据可查看的展馆信息并结合自身需要进行展位选购。
</p><p><strong>（4）填写并核实订单信息</strong></p>
<p>请根据系统自动生成的订单信息进行信息填写，信息填写完成后请核实订单所有内容的正确性和准确性。如果由于您的未核实或失误造成订单的错误，产生的后果由您全部承担。
</p><p><strong>（5）提交订单信息并支付定金（定金不退）</strong></p>
<p>提交订单前请核实订单所有内容的正确性和准确性。</p>
<p>本站支付方式分为两种，第一种支付宝，第二种线下汇款（线下向本站指定的银行汇款并在本站上传电子凭证即可）。</p>
<p>如果您想立即订购展位，请选择支付宝方式支付，并在不关闭订单页面的情况下于4小时内付款，本站系统会立即对订单生效。</p>
<p>如果您选择线下银行汇款，请至少提前两个工作日向本站指定银行账户汇款（因汇款延时或银行结算延时等不可抗拒的因素），再进行展位预订，本站将根据您提供的电子凭证扫描件或截图审核您的信息，如果您上传虚假信息我们有权利单方面取消对您的一切服务，并做封号处理，情节严重的我们将追究法律责任。</p>
<p>本站不支持未付款或未支付成功的订单查询，本站所有销售展位及相关服务订单都是以定金实际到账为准，敬请谅解。如因付款延误造成的订单重复、展位被认购等问题产生的纠纷，本站有权利根据用户需求并结合实际情况进行调节，并对所购物品进行调整。
</p><p><strong>（6）预订成功，工作人员联系用户</strong></p>
<p>您预订成功后，我们的工作人员会和您取得联系，核实订单信息，并协助您完成余下展位订购工作。</p>
<p>订单成功后，请在会员中心-&gt;申请合同中进行合同申请，请于收到合同后5天内签订合同，并回传合同。签订合同7天内支付合同款的50%，否则我们将取消您订购的展位，展位取消后，其他用户可随时订购该展位。
</p>
<h5>第2条 本站服务条款的确认和接纳</h5><p></p>
<p><strong>（1）</strong>本站的各项电子服务的所有权和运作权归本站所有。您同意所有注册协议条款并完成注册程序，才能成为本站的正式用户。您确认：本协议条款是处理双方权利义务的依据，始终有效，法律另有强制性规定或双方另有特别约定的，依其规定或约定。
</p><p><strong>（2）</strong>您点击同意本协议的，即视为您确认自己具有享受本站服务、下单预订展位等相应的权利能力和行为能力，能够独立承担法律责任。
</p><p><strong>（3）</strong>&nbsp;本站保留在中华人民共和国大陆地区施行之法律允许的范围内独自决定拒绝服务、关闭用户账户、清除或编辑内容或取消订单的权利。
</p><p><strong>（4）</strong>您使用本站提供的服务时，应同时接受适用于本站特定服务、活动等的准则、条款和协议（以下统称为“其他条款”）；如果以下使用条件与“其他条款”有不一致之处，则以“其他条款”为准。
</p>
<h5>第3条 用户信息收集及保护</h5>
<p><strong>（1）</strong>&nbsp;您应自行诚信向本站提供注册资料，您保证提供的注册资料真实、准确、完整、合法有效，您的注册资料如有变动的，应及时更新其注册资料。如果您提供的注册资料不合法、不真实、不准确、 不详尽的，您需承担因此引起的相应责任及后果，并且本站保留单方终止您使用本站各项服务的权利。
</p><p><strong>（2）</strong>您在本站进行注册、浏览、预订展位等行为时，涉及您真实姓名/名称、通信地址、 联系电话、电子邮箱、订单详情、评价或反馈、投诉内容、cookies等信息的，本站有权从完成交易、售后及用户服务、开展活动、完成良好的客户体验等多种角度予以收集，并将对其中涉及个人隐私信息予以严格保密，除非得到您的授权、为履行强行性法律义务（如国家安全机关指令）或法律另有规定、本注册协议或其他条款另有约定外，本站不会向外界披露您的隐私信息。
</p><p><strong>（3）</strong>您注册成功后，将产生用户名和密码等账户信息，您可以根据本站规定更改您的密码。您应谨慎合理的保存、使用您的账户信息。您若发现任何非法使用您的账户或其他存在安全漏洞的情况的，请立即通知本站并向公安机关报案。
</p><p><strong>（4）</strong>您同意，本站拥有通过邮件、短信、电话、网站通知或声明等形式，向在本站注册、预订的用户发送订单信息、售后服务、用户服务等告知信息的权利。如您不希望接收上述信息，可退订。
</p><p><strong>（5）</strong>您不得将在本站注册获得的账号、密码等账户信息提供给他人使用，否则您应承担由此产生的全部责任，并与实际使用人承担连带责任。
</p><p><strong>（6）</strong>您同意，本站有权使用您的注册信息、用户名、密码等信息，登陆进入您的注册账户，进行证据保全，包括但不限于公证、见证、协助司法机关进行调查取证等。
</p>
<h5>第4条 展位信息</h5>
<p><strong>（1）</strong>本站上的展位价格、数量、位置等信息随时都有可能发生变动，本站不作特别通知。由于网站上展位信息的数量庞大，虽然本站会尽最大努力保证您所浏览展位信息的准确性，但由于众所周知的互联网技术、展位调整因素等客观原因存在，本站网页显示的信息可能会有一定的滞后性或差错，对此情形您知悉并理解。
</p><p><strong>（2）</strong>&nbsp;如您对网站内容信息有疑问可通过我们的客服电话和我们取得联系，我们将为您解答。

</p><p>最终解释权归本站及所有者所有。</p>
  </div>
  <p class="agree" style="display: block;"><a id="agreeProtocal">同意协议并继续</a></p>
</div>

<!-- 协议条款 结束-->
	<table>
	<tr>
	<td width="150"><strong>商品名称</strong></td>
	<td width="219"><strong>广告名称</strong></td>
	<td width="150"><strong>详情</strong></td>
	<td width="98"><strong>价格（元）</strong></td>

	</tr>
	<tr>
	<td width="150">2018中国国际电梯展览会广告订购</td>
	<td width="219"><{$product['goods_name']}></td>
	<td width="150"> 
	<volist name="info" id="v" >
	<{$v.ar_encode}>、
	</volist>

	</td>
	<td width="98"><span id="price_2"><{$info['0']['ar_price']}></span></td>
	
	</tr>
	</table>
	<style>
	.paydetail table{ width:1100px; margin:0 auto;border-collapse:collapse;}
	.paydetail table tr{ height:36px;}
	.paydetail table tr td{ font-size:16px; color: #000000; border-top:1px #666666 solid; padding-left:5px;}
	</style>
	<div class="alipay">
		<span>支付方式：</span>
			<label>
				<input type="radio" name="type" value="1" style="margin:6px 10px 0px 11px;" id="alipay_bank" checked="checked">
			</label>
			<img src="__IMAGES__/pay_ico.jpg" />
			<label>
				<input type="radio" name="type" value="2" style="margin:6px 10px 0px 11px;" id="blank_select" > 银行汇款
			</label>
			
	</div>
	  <div class="clear"></div>
	  <div class="alipay"><span>备注：</span> 
	  	<textarea onpaste="return false" placeholder=""  cols="43" rows="3" name="remark" ></textarea>
	  </div>
	  <div class="clear"></div>
	  <input type="hidden" name="aid" value="<{$base64}>" />
	  <div class="pay_sl">实付款：<font><span id="price_3"><{$info['0']['ar_price']}></span></font> 元<p><input name="login_step1" id="order_trade" type="submit" value="确认支付" class="reg_next"></p></div>
	</div>
</div>
<div id="info" style="display:none;"></div>
<!-- <div id="hbg" ></div> -->

<style type="text/css">
	
#dialog{width:924px;height:auto;overflow:hidden;padding:3px;display:none}
h3.head{width:100%;height:46px;background-color:#fff;background: rl("../images/p_level.gif") repeat scroll;border-bottom:1px solid #7aa822}
h3.head .agrees{display:block;width:96%;height:46px;float:left;;line-height:46px;font-size:16px;text-align:center;color:#7aa822; }
h3.head .close{display:block;width:16px;height:16px;background-image:url(../images/close.gif);float:right;margin-right:4px;margin-top:4px;}
#dialog .protocol_content{width:900px;height:380px;margin:auto;padding:10px 12px;overflow-y:scroll;overflow-x:hidden;background-color:#fff;}
#dialog .protocol_content p{ line-height:25px; font-style:normal;}
#dialog .agree{width:100%;height:52px;background-color:#fff;padding-top:24px}
#dialog .agree a{display:block;background-color:#7aa822;color:#fff;border-radius: 3px;font-family: "microsoft yahei";font-size: 16px;
		font-weight:800;height:34px;width:322px;line-height:32px;text-align:center;margin:auto; cursor:pointer;}
</style>
<div id="mask_div" style="background-color: rgb(51, 51, 51); opacity: 0.6; position: absolute; left: 0px; top: 0px; width: 1920px; height: 921px; z-index: 10000;"></div>
</block>
<block name="js">
<script src="/public/admin/js/jquery-1.11.1.min.js"></script>
<script src="/public/js/dialog.min.js"></script>
<script type="text/javascript">
$('#agreeProtocal').click(function(){
	$('#dialog').hide();
	$('#mask_div').hide();
})
$(function(){
	$('#blank_select').click(function(){ 
		$("#alipay_bank").removeAttr("checked");
		$("#blank_select").prop("checked", true);
		var aid = $("input[name='aid']").val();
		var d = dialog({
			title: '汇款提示',
		 	<php> $bank_info = get_bank($bank);</php>
			content: '	收   款   方：<{$bank_info['name']}>（请将汇款凭证截图或者扫描，点击下一步上传凭证）<br/><br/>开户银行：<{$bank_info['bank']}><br/><br/>收款帐号：<font color="red"><{$bank_info['number']}></font>',
			okValue: '下一步',
			ok: function () {
			    window.location.href="/user/booth/pay_up/"+aid+"?type=1"
			    return false;
			},
			cancelValue: '取消',
			cancel: function (){
				$("#blank_select").removeAttr("checked");
				$("#alipay_bank").prop("checked",true);  
			}
		});
		d.show();
	});
	
})
</script>
</block>
<block name="seajs">
seajs.use('order_ad');
</block>