<extend name="Public:base" />
<block name="main">
<div class="main" style="padding-top:8px; min-height:450px;">
  <div class="pay_css">
<div class="pay_succ"><span><img src="__IMAGES__/pay.jpg" /></span><label><eq name="info.status" value="1">订单正在付款中！<else/>恭喜您！财务已审核成功，请申请合同！
</eq></label></div>
<div class="clear"></div>
<div class="pay_menu"><span>支付方式：</span><label><eq name="info.type" value="1">支付宝<else/>银行汇款</eq></label></div>
<div class="clear"></div>
<div class="pay_menu"><span>收款方：</span><label>廊坊会议展览有限公司</label></div>
<div class="clear"></div>
<div class="pay_menu"><span>订单号：</span><label><{$info['out_trade_no']}></label></div>
<div class="clear"></div>
<div class="pay_menu"><span>支付金额：</span><label><font><{$info['price']}></font> 元</label></div>
	<div class="clear"></div>
	<div class="reg_btn1" style="width:350px;">
		<a href="<{:U('/user/index')}>" class="s_btn">会员中心</a>
		<a href="<{:U('Apply/index')}>" class="s_btn">申请合同</a>
	</div>
    <div class="clear"></div>
  </div>
</div>
</block>