<extend name="Public:base" />
<block name="content">
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">企业风采</h3>		
				<div class="panel-options">
					<div class="vertical-top">
						<a href="<{:U('Company/add')}>">添加信息</a> 
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12">
						<table class="table table-hover news-list">
						  <thead>
							<tr>
							  <th class="col-md-1">序  号</th>
							  <th class="col-md-7">名  称</th>
							  <th class="col-md-2 text-center">时  间</th>
							  <th class="col-md-2 text-center">操  作</th>
							</tr>
						  </thead>
						  <tbody>
							<volist name="list" id="news">
							<tr>
							  <th scope="row"><{$news.id}></th>
							  <td><{$news.title}></td>
							  <td class="text-center"><{$news.atime|date="Y-m-d",###}></td>
							  <td class="text-center">
								<!--<a class="btn btn-info" href="<{:U('News/edit',array('id'=>$news['id']))}>" role="button">修改</a>-->
								<a class="btn btn-warning" href="javascript:void(0);" onClick="del(<{$news.id}>)" role="button">删除</a>
							   </td>
							</tr>
							</volist>
						  </tbody>
						</table>			
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-center">
						<ul class="pagination">
							<{$page}>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</block>
<block name="script">
<script type="text/javascript">
function myrefresh(){window.location.reload();}
//删除
function del(aid){
	var opts = {
			"closeButton": true,
			"debug": false,
			"positionClass": "toast-top-full-width",
			"onclick": null,
			"showDuration": "300",
			"hideDuration": "1000",
			"timeOut": "2000",
			"extendedTimeOut": "1000",
			"showEasing": "swing",
			"hideEasing": "linear",
			"showMethod": "fadeIn",
			"hideMethod": "fadeOut"
		};
	$.get("<{:U('Company/del')}>", {id:aid},function(data){
		if(data.status == 1){
			toastr.success(data.info, opts);
			setTimeout('myrefresh()',2000);
		}else{
			toastr.error(data.info, opts);
		}

	});
}
</script>
</block>