<extend name="Public:base" />
<block name="css">
<link href="__CSS__/lrtk.css" rel="stylesheet" >
</block>
<block name="main">
<div class="main">
	<!--<div class="banner_bg">
		<div class="banner">
			<div class="dg_btn">
				<a href="<{:U('/user/booth/index')}>"><img src="__IMAGES__/dg_btn.jpg" /></a>
			</div>
		</div>
	</div>-->
	<div class="banner">
    <div class="banner_show" id="banner_show">
    <a href="#" target="_blank" class="bannger_inbox"><img src="__IMAGES__/banner1.jpg" width="2000" height="365"></a>
    <a href="#" target="_blank" class="bannger_inbox"><img src="__IMAGES__/banner2.jpg" width="2000" height="365"></a>
    <a href="#" target="_blank" class="bannger_inbox"><img src="__IMAGES__/banner3.jpg" width="2000" height="365"></a>
    <!--  <div class="banner_mag">
                  <div class="yq_banner_list" id="yq_banner_list">
                  <a href="javascript:;" rel="0" class="hover">&nbsp;</a>
                  <a href="javascript:;" rel="1">&nbsp;</a>
                  <a href="javascript:;" rel="2">&nbsp;</a>
                  </div>
      </div>-->
         
    </div>
   <div class="zhan_logo"><a href="<{:U('/user/booth/index')}>"><img src="__IMAGES__/dg_btn.jpg" /></a></div>
   <div class="zhan_biaoyu"><img src="__IMAGES__/biaoyu.png" /></div>
  </div>

	<div class="liucheng"><img src="__IMAGES__/liucheng.jpg" /></div>
	<div class="clear"></div>
</div>
<script type="text/javascript" src="__JS__/jquery.caroufredsel-6.0.4-packed.js" ></script>
<script type="text/javascript" src="__JS__/focus.js" ></script>
</block>


