<extend name="Public:base" />
<block name="css">
<link rel="stylesheet" href="__PUBLIC__/admin/css/lightbox.css">
<script type="text/javascript">
function myrefresh(){window.location.reload();}
	//删除操作
	function del(aid){
		var opts = {
				"closeButton": true,
				"debug": false,
				"positionClass": "toast-top-full-width",
				"onclick": null,
				"showDuration": "300",
				"hideDuration": "1000",
				"timeOut": "2000",
				"extendedTimeOut": "1000",
				"showEasing": "swing",
				"hideEasing": "linear",
				"showMethod": "fadeIn",
				"hideMethod": "fadeOut"
			};
		$.get("<{:U('Adver/del')}>", {id:aid},function(data){
			if(data.status == 1){
				toastr.success(data.info, opts);
				setTimeout('myrefresh()',2000);
			}else{
				toastr.error(data.info, opts);
			}

		});
	}
</script>
</block>
<block name="content">
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">广告管理</h3>		
				<div class="panel-options">
				<div class="vertical-top">
					<button class="btn btn-success btn-icon add-single">
						<i class="fa-pencil"></i>
						<span>添加广告</span>
					</button>
				</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12">
					
						<table class="table table-hover news-list">
						  <thead>
							<tr>
							  <th class="col-md-2 text-center">广告类型</th>
							  <th class="col-md-2 text-center">广告价格</th>
							  <th class="col-md-2 text-center">效果图</th>
							  <th class="col-md-2 text-center">添加时间</th>
							  <th class="col-md-1 text-center">是否已售</th>
							  <th class="col-md-3 text-center">操  作</th>
							</tr>
						  </thead>
						  <tbody>
							<volist name="list" id="single">
							<tr>
							  <th scope="row" class="text-center">
								<{$single.title}>
							  </th>
							  <th scope="row" class="text-center">
								<{$single.price}>
							  </th>
							  <td class="text-center">
							  <a class="example-image-link" href="<{$single.images}>" data-lightbox="example-1">
								<img class="example-image" src="<{$single.images}>" alt="image-1"  height="20px"/>
										</a>
								</td>
							  <td class="text-center"><{$single.add_time|date="Y-m-d",###}></td>
							  <td class="text-center"><eq name="single.status" value="1" >未售<else/>售出</eq></td>
							  <td class="text-center">
								<a class="btn btn-info" href="<{:U('Adver/add',array('id'=>$single['id']))}>" role="button">修改</a>
								<a class="btn btn-warning" href="javascript:void(0);" onClick="del(<{$single.id}>)" role="button">删除</a>
							   </td>
							</tr>
							</volist>
						  </tbody>
						</table>			
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-center">
						<ul class="pagination">
							<!--<{$page}>-->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</block>
<block name="script">
<script src="__PUBLIC__/admin/js/lightbox.js"></script>
<script type="text/javascript">
$(function(){
	$(".add-single").click(function(){
		window.location.href="<{:U('Adver/add')}>";
	})
})
</script>
</block>